<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Escolar</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="button-container">
        <h2>Sistema de Cadastro</h2>
        <a href="alunos.html" class="btn btn-primary btn-lg">
            <i class="fas fa-user-graduate"></i> Alunos
        </a>
        <a href="disciplinas.html" class="btn btn-primary btn-lg">
            <i class="fas fa-book"></i> Disciplinas
        </a>
        <a href="notas.html" class="btn btn-primary btn-lg">
            <i class="fas fa-clipboard"></i> Notas
        </a>
        <a href="professores.html" class="btn btn-primary btn-lg">
            <i class="fas fa-chalkboard-teacher"></i> Professores
        </a>
        <a href="boletim.html" class="btn btn-primary btn-lg">
            <i class="fas fa-file-alt"></i> Boletim
        </a>
        <a href="presenca.html" class="btn btn-primary btn-lg">
            <i class="fas fa-calendar-check"></i> Presença
        </a>
        <a href="sair.html" class="btn btn-danger btn-lg">
            <i class="fas fa-sign-out-alt"></i> Sair
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
